:root{
    --guyn1: #4d636f;
    --guyn2: #3a4b53;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f7f8;
}
.color1{
    color: var(--guyn1);   
}
.margin{
    margin-right: 16px;
}
.clor2{
    color: var(--guyn2);
}
.box{
    box-shadow: 2px 2px 10px grey;
    padding: 16px 32px;
    background-color: white;
}
a{
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
nav{
    background-color: #4d636f;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-wrap: wrap;
    
}
.nav-menu{
    display: none;
    order: 3;
    flex: 1 0 100%;
}
.nav-logo{
    flex-grow: 1;
}
.nav-logo a {
    background-color: #3a4b53;
}
nav a:hover{
    background-color: #ccc;
    color: black;
}
nav a{
    padding: 12px 24px;
    display: inline-block;
}
.nav-bars a:hover{
    background-color: white;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav .nav-menu a{
    width: 100% ;
}
.nav-avatar img{
    height: 21px;
    width: 25px;
    border-radius: 100%;
    margin-bottom: -5px;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: white;

}
.dropdown a:hover{
    background: #ccc;
}
.nav-link li:last-child:hover .dropdown{
    display: block;
}
.footer-body{
    font-size: 18px;
    padding: 32px 16px;
    color: white;
    background-color: var(--guyn1);
}
.footer-end{
    padding: 24px 16px;
    color: white;
    background-color: var(--guyn2);
}
.grid{
    display: grid;
    grid-gap: 16px ;
    padding: 16px 8px;
    grid-template-columns: auto ;
}
.flex{
    display: flex;
    flex-direction: column;
    margin: -8px;
}
.f-item{
    padding: 8px;

}
.shadow{
    box-shadow: 2px 2px 10px grey;
}
.my-profile{
    border-radius: 8px;
}
.my-profile h5{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}
.my-profile figure{
    display: flex;
    justify-content: center;
}
.my-profile img{
    width: 106px;
    height: 106px;
    border-radius: 100%;
}
.personal ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.personal a{
    padding: 8px 16px;
    background-color: #7d97a5;
    color: white;
    display: block;
}
.personal a:hover{
    background-color: #ccc;
    color: black;
}
.interest{
    border-radius: 8px;
}
.interest span{
    font-size: 14px;
    background-color: var(--guyn1);
    padding: 4px 8px;
    color: white;
}
.nots{
    border: 1px solid #ccc;
    background-color: #dfe5e8;
    padding: 0 0 16px 16px;
}
.nots button{
    float: right;
    border: none;
    line-height: 40px;
    width: 40px;
    background-color: #becbd2;
}
.nots button:hover{
    background-color: #ccc;
    cursor: pointer;
}
.ads{
    padding: 16px;
    text-align: center;
    line-height: 24px;
    border-radius: 8px;
    background-color: white;
}
.events{
    border-radius: 8px;
    text-align: center;
}
.events img{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 8px;
}
.events a{
    display: block;
    padding: 8px 0;
    background-color: #dfe5e8;
}
.events a:hover{
    background-color: #ccc;
}
.req{
    text-align: center;
    border-radius: 8px;
}
.req img{
    width: 50%;
    height: auto;
}
.btn-group{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    background-color: white;
}
.btn{
    line-height: 40px;
    text-align: center;
    border: none;
}
.btn:hover{
    background-color: #ccc;
}
.yes{
    background-color: #4CAF50;
}
.no{
    background-color: #f44336;
}
.f2-item{
    padding: 32px;
    flex: 1 0 auto;
}
.post{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
.post h6{
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
}
.post input{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    padding: 8px 16px;
}
.post{
    padding: 16px;
    border-radius: 8px;
}
.post p{
    color: gray;
}
.post input{
    padding: 8px 16px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.post button{
    color: white;
    background-color: var(--guyn1);
    padding: 8px 16px;
    border: none;
}
.post button:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}
.media{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
}
.media-header{
    display: flex;
    align-items: center;
}
.media-header img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 100%;
}
.media-header h5{
    flex-grow: 1;
}
.media-header span{
    align-self: flex-start;
    color: #ccc;
}
hr{
    margin: 32px 0;
}
.media p{
    line-height: 20px;
}
.imgs img{
    width: 100%;
    height: auto;
}
/* .imgs.f-item{
    flex-basis: 100%;
} */
.btns button{
    margin-top: 16px;
    padding: 8px 16px;
    color: white;
    background-color: var(--guyn1);
    border: none;
}
.btns button:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
@media screen and (min-width: 601px){
    .grid{
        grid-template-columns: 25% auto 20%;
    }
    .imgs.flex{
        flex-direction: row;
    }
    .imgs .f-item{
        width: 50%;
        box-sizing: border-box;
    }
    .btn-group{
        flex-direction: row;
        height: initial;      
    }
    .btn{
        flex-grow: 1;
    }
    nav{
        flex-wrap: nowrap;
        
    }
    .nav-menu{
        display: flex;
        order: 2;
        flex: 1 0 auto;
        justify-content: space-between;
    }
    .nav-logo{
        flex-grow: 0;
    }
    nav a:hover{
        background-color: #ccc;
        color: black;
    }
    .nav-bars{
        display: none;

    }
    nav ul{
        display: flex;
    }
    .dropdown a:hover{
        background: #ccc;
        box-shadow: 2px 5px gray;
    }
    .dropdown{
        color: black;

    }
}